body {
  background-color: #242424;
  color: #ffffff;
}

.albumCover {
  height: 100px;
  width: 100px;
}

.spotifyGreenBorder {
  border-color: #1db954 !important;
}

.spotifyGreenText {
  color: #1db954 !important;
}

.spotifyGreenLinkDisabled {
  color: #1ba64b8e !important;
}

.spotifyNavBarBackground {
  background-color: #242424;
}

.spotifyGreenButton {
  color: #1db954 !important;
  border-color: #1db954 !important;

  &:hover {
    color: #242424 !important;
    border-color: #0e7933 !important;
    background-color: #0e7933 !important;
  }
}

.spotifyGreenButtonSelected {
  color: #242424 !important;
  background-color: #1db954 !important;

  &:disabled {
    color: #242424 !important;
    background-color: #1db954 !important;
    opacity: 1 !important; 
  }
}

.break-and-wrap-text {
  word-break: break-all; 
}

/* From CSS-Loaders.com  */
.loader {
  width: 30px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #1db954;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}